:root {
  --colour-text: #100f15;
  --colour-background: #dcd6d2;
  --space: 30px;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* The one breakpoint, "tablet and up", is 46.25em (740px). */

/* Template */

.template {
  background: var(--colour-background);
  -webkit-font-smoothing: antialiased;
}

.template__body {
  margin: 0;
  font-family: var(--font-family);
}

.main {
  padding-top: var(--space);
  padding-bottom: var(--space);
}

.width-container {
  padding: 0 var(--space);

  @media (min-width: 46.25em) {
    margin: 0 auto;
    max-width: 900px;
  }
}

/* Grid */

.grid-row {
  @media (min-width: 46.25em) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: calc(var(--space) * 2);
  }
}

.grid-column-three-quarters {
  grid-column: span 9;
}

/* Typography */

.body-text,
.body-text-lead {
  line-height: 1.4em;
  font-size: 16px;
  color: var(--colour-text);
  margin-top: 1em;
  margin-bottom: 1em;

  @media (min-width: 46.25em) {
    font-size: 19px;
  }
}

.body-text-lead {
  font-size: 19px;
  margin-top: 0;

  @media (min-width: 46.25em) {
    font-size: 24px;
  }
}

.link {
  color: var(--colour-text);
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    border-bottom-width: 3px;
  }

  &:focus {
    outline: 3px solid yellow;
    background: yellow;
    border: none;
    color: #000;
  }
}

/* Header */

.header {
  padding: 60px 0 var(--space);

  @media (min-width: 46.25em) {
    padding-top: 180px;
  }
}

.header__logo {
  margin-bottom: 50px;
  display: inline-block;

  @media (min-width: 46.25em) {
    margin-bottom: 100px;
  }
}

.header__logo-img {
  display: inline-block;
  height: 30px;
}

.header__site-name {
  color: var(--colour-text);
  margin: 0;
  font-size: calc(1.4rem + 2vw);
  font-weight: 500;
  letter-spacing: -0.02em;
  word-spacing: -0.1em;
}

.header__strapline {
  margin: 0.5em 0 0;
  font-size: 16px;
  color: var(--colour-text);

  @media (min-width: 46.25em) {
    font-size: 19px;
  }
}
