@use "mq";

.header {
  padding: 60px 0 $space;
  @include mq.mq(tablet) {
    padding-top: 180px;
  }
}

.header__logo {
  margin-bottom: 50px;
  display: inline-block;
  @include mq.mq(tablet) {
    margin-bottom: 100px;
  }
}

.header__logo-img {
  display: inline-block;
  height: 30px;
}

.header__site-name {
  color: #fff;
  margin: 0;
  font-family: $heading-font-family;
  font-size: 30px;
  font-weight: 500;
  @include mq.mq(tablet) {
    font-size: 36px;
  }
}

.header__strapline {
  margin: .5em 0 0;
  font-family: $heading-font-family;
  font-size: 16px;
  color: #fff;
  @include mq.mq(tablet) {
    font-size: 19px;
  }
}