@use "mq";

.header {
  padding: 60px 0 $space;
  @include mq.mq(tablet) {
    padding-top: 180px;
  }
}

.header__logo {
  margin-bottom: 50px;
  display: inline-block;
  @include mq.mq(tablet) {
    margin-bottom: 100px;
  }
}

.header__logo-img {
  display: inline-block;
  height: 30px;
}

.header__site-name {
  color: $blue-dark;
  margin: 0;
  font-family: $heading-font-family;
  font-size: calc(1.4rem + 2vw);
  font-weight: 500;
  letter-spacing: -0.02em;
  word-spacing: -0.1em;
}

.header__strapline {
  margin: 0.5em 0 0;
  font-family: $heading-font-family;
  font-size: 16px;
  color: $blue-dark;
  @include mq.mq(tablet) {
    font-size: 19px;
  }
  @media print {
    margin-top: 0.25em;
  }
}

@media print {
  .header-print-row {
    display: flex;
    align-items: flex-start;
  }
  .header__site-name {
    font-size: 32px;
  }
  .header-print-contact {
    text-align: right;
    margin-left: auto;
    .body-text {
      margin: 0;
    }
  }
}
