.link {
  color: $blue-dark;
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    border-bottom-width: 3px;
  }

  &:focus {
    outline: 3px solid yellow;
    background: yellow;
    border: none;
    color: #000;
  }
}
