.template {
  background: #dcd6d2;
  -webkit-font-smoothing: antialiased;
  @media print {
    background: white;
    color: #333;
  }
}

.template__body {
  margin: 0;
}

.main {
  padding-top: $space;
  padding-bottom: $space;
  @media print {
    padding: 0;
    margin-bottom: 50px;
  }
}
