
.template {
  background: $blue-dark;
  -webkit-font-smoothing: antialiased;
}

.template__body {
  margin: 0;
  background-image: linear-gradient(0deg, $blue-dark 0%, #4d5b6a 100%)
}

.main {
  padding-top: $space;
  padding-bottom: $space;
}