
.heading-small,
.heading-medium,
.heading-large,
.heading-xlarge {
  font-family: $font-family;
  font-weight: 400;
}

.heading-small {

}

.heading-medium {

}

.heading-large {

}

.heading-xlarge {

}

.body-text {
  font-family: $font-family;
  line-height: 1.4em;
  font-size: 16px;
  font-weight: 400;
  color: #444;
}

.body-text-lead {
  @extend .body-text;
  font-size: 18px;
  font-weight: 500;
}