@use "mq";

.role {
  border-bottom: 1px solid $border-colour;
}

.role__heading {
  font-family: $heading-font-family;
  font-weight: 500;
  margin-bottom: 0;
}

.role__meta {
  font-family: $heading-font-family;
  font-weight: 400;
  font-size: 14px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  padding: 0;
  margin: 0.5em 0 1em;
  flex-direction: row;
  @include mq.mq(tablet) {
    font-size: 16px;
  }
}

.role__meta-item {
  &:after {
    content: "|";
    margin-left: 0.75em;
    color: $border-colour;
  }
  &:last-child {
    &:after {
      content: "";
    }
  }
}

.role__description {
  font-family: $body-font-family;
  line-height: 1.4em;
  font-size: 14px;
  font-weight: 400;
  color: $blue-dark;
  margin-top: 1em;
  margin-bottom: 1em;
  @include mq.mq(tablet) {
    font-size: 16px;
  }
}
